import React from 'react';
import * as styles from './{{camelCase name}}.module.css';

import Layout from "../components/Layout/Layout";

const {{pascalCase name}}Page = (props) => {
  return (
    <Layout>
      <div className={styles.root}>
        <p>Enter Content Here</p>
      </div>
    </Layout>
  );
};

export default {{pascalCase name}}Page;
