import React from 'react';
import * as styles from './{{pascalCase name}}.module.css';

const {{pascalCase name}} = (props) => {
  return (
    <div className={styles.root}>
      <p>Enter Content Here</p>
    </div>
  );
};

export default {{pascalCase name}};
