.root {
    cursor: pointer;
}

.detailsContainer {
    margin-top: 16px;
}

.root img {
    display: block;
    width: 440px;
    height: 580px;
    object-fit: cover;
    border-radius: 1px;
}

.productName {
    font-size: 14px;
    line-height: 17px;
    color: var(--standard-black);
}

.prices {
    margin-top: 8px;
    font-size: 14px;
    line-height: 17px;
}

.prices span {
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
}

.salePrice {
    color: var(--sale);
}

.originalPrice {
    text-decoration: line-through;
    color: var(--grey-placeholder);
}

.meta {
    font-size: 14px;
    line-height: 17px;
    color: var(--grey-placeholder);
}

.prices > span:first-child {
    margin-right: 16px;
}