.root {
    position: fixed;
    width: 100%;
    background-color: var(--standard-white);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    z-index: 50;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 48px 0px 48px 0px;
    margin: 0 auto;
}

.headerMessageContainer {
    background-color: var(--bg-grey);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.root .linkContainers {
    display: flex;
}

.navLink {
    margin-right: 40px;
    text-transform: uppercase;
    color: var(--standard-black);
    font-weight: 500;
    padding-bottom: 48px;
    border-bottom: 2px solid transparent;
    transition: border 0.3s ease-in-out;
    width: 100%;
}

/* .root .navLink:hover {
    border-bottom: 2px solid var(--standard-black);
} */

.activeLink {
    border-bottom: 2px solid var(--standard-black);
}

.brandContainer {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.brandContainer h4 {
    font-family: var(--brand-font);
}

.actionContainers {
    display: flex;
    flex-direction: row-reverse;
}

.actionContainers > div {
    margin-right: 32px;
    cursor: pointer;
}

.actionContainers svg:first-child {
    margin-right: 0px;
}

.iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.iconContainer svg {
    width: 20px;
    height: 20px;
}

.menuContainer {
    position: absolute;
    background-color: var(--standard-white);
    width: 100%;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
}

.show {
    opacity: 1 !important;
    visibility: visible !important;
    max-height: 500px !important;
}

.hide {
    opacity: 0 !important;
    visibility: hidden !important;
    max-height: 0px !important;
}

.searchContainer {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 51;
}

.searchForm {
    margin-top: 40px;
    margin-bottom: 40px;
}

.searchForm input{
    width: 95% !important;
    border-bottom: 1px solid var(--standard-black) !important;
}

.suggestionContianer {
    display: flex;
    gap: 12px;
    margin-bottom: 40px;
}

.suggestion {
    padding: 14px 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--standard-black);
    border: 1px solid var(--bg-light-gray);
    text-transform: capitalize;
    transition: all ;
    cursor: pointer;
}

.suggestion:hover {
    transition: all 0.3s ease-in-out;
    color: var(--standard-white);
    background-color: var(--standard-gold);
    border: 1px solid transparent;
}

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: -1;
}