.root {
    padding: 50px 0px;
    margin-bottom: 64px;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */

    display: flex;
    align-items: center;
}

@media (max-width: 800px) {
    .root {
        padding-left: 16px;
        padding-right: 16px;
    }
}